.SectionsHeader .MarginBot {
margin-bottom: 200px;
}

@media(max-width: 1440px) {
.SectionsHeader .MarginBot {
        margin-bottom: 80px;
    }
}

@media(max-width: 992px) {
.SectionsHeader .MarginBot  {
        margin-bottom: 50px;
    }
}