.MainFooter {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-bottom: 1px solid var(--primary-color-gray15);
    padding-bottom: 50px;
}

.FirstColumn {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.Column {
    flex: 1;
    gap: 10px;

}

.ContactBoxC {
    align-items: center;
    gap: 10px;
}
.Contactgroup {
    gap: 24px;
}
.LogoSec {
    gap:20px
}

@media (max-width: 992px) {
    .FirstColumn {
        flex: 0 0 100%;
    }

    .MainFooter .Column {
        flex: 0 0 50%;
    }

    .MainFooter .Column:last-child {
        flex: 0 0 100%;
    }
}
    