.Header {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  gap: 14px;
}
@media (max-width: 1440px) {
  .Header {
    margin-top: 16px;
  }
}
@media (max-width: 576px) {
  .Header {
    margin-top: 40px;
  }
}
