.FeatureCardsSec {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

@media (max-width: 1440px) {
    .FeatureCardsSec {
        gap: 40px;
    }
}
@media (max-width: 1200px) {
    .FeatureCardsSec {
            grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}


@media (max-width: 992px) {
    .FeatureCardsSec {
        grid-template-columns: 1fr;
    }
}