.FeatureCard {
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: white;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 50px;

  .Tape {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary-color-orange95);
    border-radius: 0 0 12px 12px;
    width: 25%;
    height: 384px;
    z-index: 0;
  }

  .ImageWrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 4/3;
  }

  .FeatureCardImg {
    position: relative;
    z-index: 100;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .FeatureCardContent {
    gap: 20px;
    background-color: hsla(0, 0%, 100%, 0.224);
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 100;
  }

  .FeatureCardContentH {
    font-family: Raleway;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
  }
}

@media (max-width: 1440px) {
  .FeatureCard {
    padding: 40px;
    gap: 40px;
    .ImageWrapper {
        aspect-ratio: 4/2.8;
      }
    .Tape {
        height: 282px;}
    .FeatureCardContentH {
      font-size: 24px;
    }
  }
}

@media (max-width: 992px) {
  .FeatureCard {
    padding: 30px;
    gap: 30px;
    .ImageWrapper {
        aspect-ratio: 4/3.1;
      }
Tape {
    height: 237px;
  }
    .FeatureCardContentH {
      font-size: 22px;
    }
  }
}
