.HistoryContentWrapper {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 150px;
  position: relative;
}
.VerticalLine {
  position: absolute;
  width: 2px;
  background-color: black;
  outline: 6px solid var(--primary-color-orange80);
  z-index: 0;
}

.TimelineContainer {
  display: flex;
}


.HistoryContent {
  display: flex;
  flex-direction: column;
  gap: 100px;
  z-index: 2;
}

@media (max-width: 1440px) {
  .HistoryContentWrapper {
    padding: 100px;
  }

  .HistoryContent {
    gap: 80px;
  }
}
@media (max-width: 992px) {
  .HistoryContentWrapper {
    padding: 50px 20px;
  }

  .HistoryContent {
    gap: 50px;
  }
 
}


