* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Outfit";
  line-height: 150%;
  color: var(--primary-color-gray15);
  background-color: #fff5f0;
  --primary-color-gray15: #262626;
  --primary-color-gray20: #333333;
  --primary-color-gray40: #656567;
  --primary-color-orange: #fff5f0;
  --primary-color-orange90: #ffdecc;
  --primary-color-orange95: #ffefe5;
  --primary-color-orange97: #fff5f0;
  --primary-color-orange80: #ffbe99;
  --primary-color-orange75: #ffae80;
  --primary-color-orange65: #ff8d4d;
}

.NavContainer {
  padding: 0 50px;
}

.MainContainer {
  padding: 0 162px;
  margin-bottom: 200px !important;
}

.SharedFont {
  font-size: 20px;
  font-weight: 500;
}

.SharedBorder {
  outline: 2px solid var(--primary-color-gray15);
  border-radius: 12px;
}
.SharedShadow {
  box-shadow: 6px 6px 0px 2px rgba(30, 30, 30, 1);
}
.Flex {
  display: flex;
  flex-direction: column;
}
.FlexRow {
  display: flex;
}
a {
  text-decoration: none;
  color: var(--primary-color-gray20);
  cursor: pointer;
}
button:hover {
  background-color: #e67639c5;
}

@media (max-width: 1440px) {
  .SharedFont {
    font-size: 16px !important;
  }

  .SharedBorder {
    border-radius: 10px;
  }

  .MainContainer {
    padding: 0 80px;
    margin-bottom: 150px !important;
  }
  .SharedShadow {
    box-shadow: 4px 4px 0px 2px rgba(30, 30, 30, 1);
  }
}

@media (max-width: 576px) {
  .SharedFont {
    font-size: 16px !important;
  }

  .NavContainer,
  .MainContainer {
    padding: 0 16px;
  }

  .MainContainer {
    margin-bottom: 80px !important;
  }
}
